* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/background.jpg) no-repeat center center fixed; /*  Photo by Malte luk from Pexels  */    
    background-size: cover;
    font-family: sans-serif;
}

/* Header */

header {
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

header h1 {
    color: #fff;
    font-size: 2.3rem;
    word-spacing: 0.7rem;
}

nav {
    border-left: 3px solid coral;
}

header li {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    padding-left: 25px;
    line-height: 1.7rem;
}

header a {
    text-decoration: none;
    color: #fff;

}

.quote {
    background-color: #e8290b;
    padding: 0.4rem 1rem;
    border-radius: 1.3rem;
}

header a:hover {
    color: #e8290b;
}

.quote:hover {
    color: #fff;
}

/* Showcase */

#showcase {
    color: #fff;
    width: 70%;
    margin: auto;
    margin-top: 10rem;
}

#showcase h1 {
    font-size: 4.5rem;
    margin-bottom: 1.2rem;

}
#showcase h3 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.4rem;
}

#showcase p {
    font-size: 1.2rem;
    font-family: cursive;
    margin-bottom: 1.7rem;
}

#showcase button {
    background: transparent;
    color: #fff;
    padding: 0.5rem 1.3rem;
    border: 2px solid #fff;
    border-radius: 1.2rem;
    cursor: pointer;
}

#showcase button:hover {
    background-color: #e8290b;
}

/* Aside */

aside {
    color: #fff;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 5rem;
    margin-top: 3rem;
}

aside .value {
    color: gold;
    font-size: 3rem;
    padding-left: 1.2rem;
}

aside button {
    background-color: #e44236;
    color: #fff;
    padding: 1rem;
    border: 0;
    border-radius: 0.3rem;
    margin-top: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #ffa500;
    text-align: center;
    color: #fff;
    margin-top: 4.5rem;
    padding: 10px;
}

@media(max-width: 1205px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    header h1 {
        margin-bottom: 0.8rem;
    }

    nav {
        border-left: none;
    }

    footer {
        text-align: center;
    }

    #showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    aside {
        text-align: center;
        padding-right: 0;
    }

}